<div class="container">
    <button class="btn" (click)="toggleCreatingForm()">Add new project</button>
    <div *ngIf="hasCreateNewTeam">
        <form [formGroup]="form" (ngSubmit)="createTeam()">
            <label>Enter project name</label>
            <input formControlName="projName" placeholder="Project name">
            <label>Enter project description</label>
            <input formControlName="projDescription" placeholder="Project name">
            <label>Chose deadLine</label>
            <input formControlName="projDeadLine" type="date">
            <button class="btn btn-success" [disabled]="form.invalid">Add team</button>
        </form>
    </div>
    <div *ngFor="let proj of projects">
        <app-project [project]="proj" [saved]="saved" (onChange)="onChange($event)" (deleteElement)="projectWasDeleted($event)"></app-project>
    </div>
</div>