<div class="container">
    <button class="btn" (click)="toggleCreatingForm()">Add new task</button>
    <div *ngIf="hasCreateNewTeam">
        <form [formGroup]="form" (ngSubmit)="createTeam()">
            <label>Enter task name</label>
            <input formControlName="taskName" placeholder="Task name">
            <label>Enter task description</label>
            <input formControlName="taskDescription" placeholder="Task description">
            <button class="btn btn-success" [disabled]="form.invalid">Add task</button>
        </form>
    </div>
    <div *ngFor="let task of tasks">
        <app-task [task]="task" (deleteElement)="taskWasDeleted($event)"></app-task>
    </div>
</div>