<div class="container">
    <button class="btn" (click)="toggleCreatingForm()">Add new team</button>
    <div *ngIf="hasCreateNewTeam">
        <form [formGroup]="form" (ngSubmit)="createTeam()">
            <label>Enter team name</label>
            <input formControlName="teamName" placeholder="Team name">
            <button class="btn btn-success" [disabled]="form.invalid">Add team</button>
        </form>
    </div>
    <div *ngFor="let team of teams">
        <app-team [team]="team" (deleteElement)="teamWasDeleted($event)"></app-team>
    </div>
</div>