<div class="container">
    <mat-card>
        <mat-card-title>Project name: {{project.name}}</mat-card-title>
        <mat-card-content> Project description: {{project.description}}</mat-card-content>
        <mat-card-subtitle>Project created at: {{project.createdAt | date}}</mat-card-subtitle>
        <button class="btn" (click)="isEditProject()">Edit</button>
        <button class="btn btn-danger" (click)="deleteProject()">Delete</button>
    </mat-card>  
    
    <form [formGroup]="form" *ngIf="isEdit" (ngSubmit)="editProject()">
        <label>New project name:</label>
        <input name="newProjectName" formControlName="newProjectName" value="{{project.name}}">
        <label>New description</label>
        <input name="newProjectDescription" formControlName="newProjectDescription" value="{{project.description}}">
        <button class="btn" [disabled]="form.invalid">
            Send
        </button>
    </form>
</div>
