<div class="container">
    <button class="btn" (click)="toggleCreatingForm()">Add new user</button>
    <div *ngIf="hasCreateNewTeam">
        <form [formGroup]="form" (ngSubmit)="createTeam()">
            <label>First Name</label>
            <input name="userFirstName" formControlName="userFirstName">
            <label>Last Name</label>
            <input name="userLastName" formControlName="userLastName">
            <label>Email</label>
            <input name="userEmail" formControlName="userEmail">
            <label>Enter birthday</label>
            <input formControlName="userBirthday" type="date">
            <button class="btn btn-success" [disabled]="form.invalid">Add user</button>
        </form>
    </div>
    <div *ngFor="let user of users">
        <app-user [user]="user" (deleteElement)="userWasDeleted($event)"></app-user>
    </div>
</div>