<div class="container">
    <mat-card>
        <mat-card-title>Team name: {{team.name}}</mat-card-title>
        <mat-card-content>Team created at: {{team.createdAt | date}}</mat-card-content>
        <button class="btn" (click)="isEditTeam()">Edit</button>
        <button class="btn btn-danger" (click)="deleteTeam()">Delete</button>

        <form [formGroup]="form" *ngIf="isEdit" (ngSubmit)="editTeam()">
            <label>New team name:</label>
                <input name="teamName" formControlName="teamName">
                <button class="btn" [disabled]="form.invalid">
                    Send
                </button>
        </form>

    </mat-card>
</div>