<div class="container">
    <mat-card>
        User
        <mat-card-title>Name: {{user.firstName +" " + user.lastName}}</mat-card-title>
        <mat-card-content>Birthday: {{user.birthday | date}}</mat-card-content>
        <mat-card-content>Email: {{user.email}}</mat-card-content>
        <mat-card-content>Registre at: {{user.registerAt | date}}</mat-card-content>
        <button class="btn" (click)="isEditUser()">Edit</button>
        <button class="btn btn-danger" (click)="deleteUser()">Delete</button>

        <form [formGroup]="form" *ngIf="isEdit" (ngSubmit)="editUser()">
            <label>New team name:</label>
                <label>First Name</label>
                <input name="userFirstName" formControlName="userFirstName" value="{{user.firstName}}">
                <label>Last Name</label>
                <input name="userLastName" formControlName="userLastName" value="{{user.lastName}}">
                <label>Email</label>
                <input name="userEmail" formControlName="userEmail" value="{{user.email}}">
                <button class="btn" [disabled]="form.invalid">
                    Send
                </button>
        </form>

    </mat-card>
</div>