<div class="container">
    <mat-card>
        <mat-card-title task-done isFinished="{{isFinished()}}">Task name: {{task.name}}</mat-card-title>
        <mat-card-content> Task description: {{task.description}}</mat-card-content>
        <mat-card-subtitle>Task created at: {{task.createdAt | uaDate}}</mat-card-subtitle>
        <button class="btn" (click)="isEditTask()">Edit</button>
        <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
    </mat-card>
    <form [formGroup]="form" *ngIf="isEdit" (ngSubmit)="editTask()">
        <label>New task name:</label>
        <input name="newTaskName" formControlName="newTaskName" value="{{task.name}}">
        <label>New description</label>
        <input name="neTaskDescription" formControlName="newTaskDescription" value="{{task.description}}">
        <button class="btn" [disabled]="form.invalid">
            Send
        </button>
    </form>
</div>