 <nav class="navbar">
   <h1>BSA frontend app</h1>
   <ul>
    <li routerLinkActive="active"><a routerLink="/projects">Project List</a></li>
     <li routerLinkActive="active"><a routerLink="/tasks">Task List</a></li>
     <li routerLinkActive="active"><a routerLink="/users">User List</a></li>
     <li routerLinkActive="active"><a routerLink="/teams">Team List</a></li>
   </ul>
 </nav>

 <div class="container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
 </div>

